
.header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1uqpxx7*_ga*MjI0MjkxODI2OC4xNjk0NzEyNzM4*_ga_3LRZM6TM9L*MTY5NDg3MDk1My44LjEuMTY5NDg3MjYwOS4zMi4wLjA.);
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.brushes h3 {
    background-color: mediumspringgreen;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.frames h3 {
    background-color: lightcoral;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint h3 {
    background-color: skyblue;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    color: blue;
    font-weight: bold;
}